.achievement .heading h1 {
  font-size: 44px;
}

.achievement .content {
  max-width: 85%;
  margin: auto;
}

.achievement .box {
  padding: 40px;
  width: auto;
}

.mtop {
  margin: 10px;
}

.achievement hr {
  margin: 15px 0;
  border: 1px solid #e3e9ed;
  background-color: #e3e9ed;
}

.achievement p {
  font-size: 18px;
  transition: 0.5s;
}

.achievement .box {
  margin-bottom: 40px;
  position: relative;
}

.achievement .btn_shadow:hover {
  transform: translate(0);
}

.achievement .box:hover .btn_shadow {
  background: #ff3a75;
  box-shadow: none;
  color: white;
}

.achievement .box:hover p {
  color: white;
}

.achievement .content-section {
  position: relative;
}

.achievement .left {
  position: relative;
}

.achievement .left::after {
  content: "";
  position: absolute;
  top: 17%;
  left: 0;
  height: 120vh;
  width: 5px;
  background: #d9dee2;
  z-index: -2;
}

.achievement .box::after {
  content: "";
  position: absolute;
  top: 13%;
  left: -8%;
  height: 5px;
  width: 50px;
  background: #d9dee2;
}

.achievement .box::before {
  content: "";
  position: absolute;
  top: 11%;
  left: -10%;
  height: 10px;
  width: 10px;
  background: #fff;
  border: 5px solid #d9dee2;
  border-radius: 50%;
  z-index: 5;
  transition: 0.5s;
}

.achievement .box:hover.box:before {
  background: #ff3a75;
}

@media (max-width: 1050px) {
  .left {
    width: 45%;
  }

  .achievement .left::after {
    top: 20%;
    height: 80vh;
  }
}

@media (max-width: 768px) {
  .left {
    width: 95%;
  }

  .achievement .d_flex {
    flex-direction: column;
  }

  .achievement .left::after {
    top: 17%;
    height: 41vh;
  }

  .achievement .box::before {
    left: -10%;
  }
}

@media (max-width: 540px) {
  .achievement .left::after {
    top: 22%;
    height: 39vh;
  }

  .achievement .box::before {
    left: -6%;
  }

  .achievement .content {
    max-width: 92%;
    margin: auto;
  }
}

@media (max-width: 340px) {
  .achievement .left::after {
    top: 18%;
    height: 92vh;
  }

  .achievement .content {
    max-width: 100%;
    margin: auto;
  }
}