.features_card_img {
    height: 2.5rem;
}

.features_card_p {
    margin-top: 5px;
    line-height: 25px;
}

.fa-arrow-right {
    display: block;
    text-align: start;
    margin-top: 10px;
    color: #ff014f;
    text-align: right;
    transition: transform 0.6s ease-in-out;
}

.features .box:hover p,
.box:hover .fa-arrow-right {
    color: white;
}

.box:hover .fa-arrow-right {
    transform: translateX(10px)
}

.box {
    width: 30%;
}

@media only screen and (max-width: 768px) {
   .newFlex .box {
        width: 45%;
    }
}

@media only screen and (max-width:550px) {
  .newFlex .box {
        width: 98%;
    }
}